## Step 2: Data wrangling
In this notebook we are going through the basics of data wrangling using pandas employing the same dataset as the one of the first step.
In order to import the dataset, we use read_csv again, with the only difference that this time, we add the header while importing the dataset.
We use df.head() to visualize the dataset after importing it.

In [27]:
import numpy as np
import pandas as pd 
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
givenHeader = ["symboling","normalized-losses","make","fuel-type","aspiration",
"num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length",
"width","height","curb-weight","engine-type","num-of-cylinder","engine-size",
"fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm",
"city-mpg","highway-mpg","price"]


df = pd.read_csv(url, names =givenHeader )
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Dealing with missing values, Step 1: identifying 

Now we would like to see the ways we can deal with the missing values in our dataset.
First, we should see how to identify the missing data.

### Replacing "?" with nan
by having a look on the dataset we can see that there are several cells in which we have the symbol "?" which represents the missing value, so the first step is replacing "?" with nan  which is Python's default missing value marker.
In order to so we can do it either for a certain column,or for the whole dataset. In order to do the latter for a certain column, we can use list comprehension: So first let's find the boolean vector of the "normalized-losses" column being equal to "?"

In [29]:
df["normalized-losses"]=="?"

0       True
1       True
2       True
3      False
4      False
5       True
6      False
7       True
8      False
9       True
10     False
11     False
12     False
13     False
14      True
15      True
16      True
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
175    False
176    False
177    False
178    False
179    False
180    False
181     True
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189     True
190    False
191     True
192     True
193     True
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
Name: normalized-losses, dtype: bool

we can now replace those with np.nan

In [30]:
df["normalized-losses"][df["normalized-losses"]=="?"] = np.nan

C:\Users\behzad\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Don't worry if you received a warning

### repalce function 
An easier approach is applying the replace function on the whole dataset: .replace(A, B, inplace = True)

In [31]:
df.replace("?",np.nan,inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

 ## Evaluating for Missing Data
 The next step is to identify the missing values. In order to do so, we can use .isnull and .notnull the ouput of which are boolean values

In [32]:
missingValues = df.isnull()

missingValues.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Count missing values in each column
now that we have the boolean equivalent we can use the .value_counts() in order to count the number of True values for each column
so for example for the second  columsn

In [33]:
missingValues["normalized-losses"].value_counts()

False    164
True      41
Name: normalized-losses, dtype: int64

Next, we can use a for loop in order to find the number of missing value using the above-mentioned command
So I will first define an empty Series called missing_value_count, and then I insert the number of missing value of each column in each iteration:

In [34]:
missing_value_count=pd.Series()
for column in missingValues.columns: 
    #print column+" has the following number of missing values"
    if True in missingValues[column].value_counts().index:
        missing_value_count[column]= missingValues[column].value_counts()[True]
    else:
        missing_value_count[column] = 0
missing_value_count

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinder       0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

## How to deal with missing values
#while dealing with missing values, we have several options 
1. droping the data which can be droping the whole row or dropping the whole column:
droping the whole column only make sense in case most of the entries in that column are missing which is not the case for our dataset, though dropping the rows can be meaningful

2. the second apprach is replacing the data:
which  can involve replacing it by the mean of that column, replacing it with the most frequent item of the colmn or replacing using other functions. Each of these approaches can be used based on the properties of the data given in each column. We will apply each method to many different columns. For the columns with continuos values ("normalized-losses","stroke","bor","horsepower","peak-rpm") we repalce them with the mean. For the rather categorical variables ("num-of-doors") we replace it by the most frequent values. In other words, 84% sedans is four doors. Since four doors is most frequent, it is most likely to be the one of the missing values. For the prices insteas since only four rows have missing value and it the value that we are predicting, we simply remove those fow rows.

## Continous numerical variables
So first let's first calculate the avarage of normalized losses, Since the format of the normalized losses is an object and not a float, in order to find their average, we should first convert them all to float using .astype("float) and then use the function .mean() to find their average, we then use the .replace(), to replace the nan values with the determined average value

In [35]:
avg_normalized_losses = df["normalized-losses"].astype("float").mean()
# Now we should use replace to replace the nan values with the determiend average
df["normalized-losses"].replace(np.nan, avg_normalized_losses,inplace=True)

We will then do the same step for all of the columns with continous numeric values

In [36]:
    
avg_stroke = df["stroke"].astype("float").mean()
df["stroke"].replace(np.nan, avg_stroke,inplace=True)

avg_bore = df["bore"].astype("float").mean()
df["bore"].replace(np.nan, avg_bore,inplace=True)

avg_horsepower= df["horsepower"].astype("float").mean()
df["horsepower"].replace(np.nan, avg_horsepower,inplace=True)

avg_horsepower= df["horsepower"].astype("float").mean()
df["horsepower"].replace(np.nan, avg_horsepower,inplace=True)

avg_peak_rpm= df["peak-rpm"].astype("float").mean()
df["peak-rpm"].replace(np.nan, avg_peak_rpm,inplace=True)

## categorical variables
Next, We would like to deal with the missing values in the columns with categorical variables, "num-of-doors" in the only one in this dataset. So we shoud first find the number of times each values appears:

In [37]:
df["num-of-doors"].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

We can find the msot frequent value with idxmax()

In [38]:
MostFrquent_num_of_doors = df["num-of-doors"].value_counts().idxmax()

we can now replace the np.nan values with the determined most frequent value.

In [39]:
df["num-of-doors"].replace(np.nan, MostFrquent_num_of_doors, inplace=True)

## Missing values in the target column
For the case of the price column, since it is the value that we are going to predict, we simply remove every row, the price of which is missing, (dropna(subset=["column1"])

In [40]:
df.dropna(subset=["price"],axis=0, inplace=True)

since we have dropped some rows, we have to reset the index

In [41]:
df.reset_index(drop=True, inplace=True)

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Final check to be sure no missing value has remained
In order to check whether there are any remaining missing values, we employ the for loop that we had utilized before

In [42]:
missingValues = df.isnull() 
missing_value_count_toCheck=pd.Series()
for column in missingValues.columns: 
    if True in missingValues[column].value_counts().index:
        missing_value_count_toCheck[column]= missingValues[column].value_counts()[True]
    else:
        missing_value_count_toCheck[column] = 0
missing_value_count_toCheck

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinder      0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

## Format Conversion
Before proceeding, as we previously saw the data format of some rows should be changed. First , let's have a look

In [43]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinder       object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

So we can see that the format of bore, stroke, price, peak-rpm, should be converted to "float"
the format of normalized-losses instead should be con eerted to int  so:

In [44]:
df[["bore","stroke","price", "peak-rpm"]] =  df[["bore","stroke","price", "peak-rpm"]].astype("float")
df["normalized-losses"] =  df["normalized-losses"].astype("int")
df.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinder       object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

## Data Standardization
NOw let's standardize some of the columns, we would like to convert city-mpg and highway-mpg into L/100km units, to do so:

In [45]:
df["city-L/100km"] = 235/df["city-mpg"]
df["highway-L/100km"] = 235/df["highway-mpg"]

## Data Normalization
Now we would like to convert some of the column values so that they would be between 0 and 1. We would apply the latter on the length, width and height.

In [46]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

##Binning

Binning is a process of transforming continuous numerical variables into discrete categorical 'bins'. An example, in our dataset, we can categorize the cars which have high, medium or low horsepower,so we have to convert the horsepower variable which is a continuos number into three categorical variables

As the firt step, we convert the horsepower into float and then we find the width of each bin, for which we should divide the distance between the maximum and minimum value of that column by the number of bins +1.

In [49]:
df["horsepower"]=df["horsepower"].astype(float, copy=True)
binwidth = (max(df["horsepower"])-min(df["horsepower"]))/4

We can then create the bins using numpy arange

In [50]:
bins = np.arange(min(df["horsepower"]),max(df["horsepower"]),binwidth)

We can now create labels for the bins, and use the pd.cut to convert the numbers into bins

In [51]:
groupNames = ["Low","Medium", "High"]
df["horsepower-binned"]= pd.cut(df["horsepower"],bins, labels=groupNames, include_lowest= True)

To check if we have correctly converted the numbers we can have a look using .head() on these two columns.

In [53]:
df[["horsepower","horsepower-binned"]].head(30)

    horsepower horsepower-binned
0        111.0            Medium
1        111.0            Medium
2        154.0            Medium
3        102.0            Medium
4        115.0            Medium
5        110.0            Medium
6        110.0            Medium
7        110.0            Medium
8        140.0            Medium
9        101.0               Low
10       101.0               Low
11       121.0            Medium
12       121.0            Medium
13       121.0            Medium
14       182.0              High
15       182.0              High
16       182.0              High
17        48.0               Low
18        70.0               Low
19        70.0               Low
20        68.0               Low
21        68.0               Low
22       102.0            Medium
23        68.0               Low
24        68.0               Low
25        68.0               Low
26       102.0            Medium
27        88.0               Low
28       145.0            Medium
29        58.0               Low